@import "tailwindcss";

:root {
    --default-bg-color: #F0F2F6;
    --default-fg-color: #FFFFFF;
    --default-text-color: #373737;
}

@layer base {
    body {
        font-family: 'Geist Mono Variable', monospace;
        background-color: var(--default-bg-color);
        color: var(--default-text-color);
        font-weight: 500;
    }
}

@layer components {
    .box-shadow-up {
        box-shadow: 0 -10px 15px -3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 -10px 15px -3px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 -10px 15px -3px rgba(0,0,0,0.1);
    }

    .box-shadow-down {
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    }

    .box-shadow-left {
        box-shadow: -10px 0 15px -3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    }

    .box-shadow-right {
        box-shadow: 10px 0 15px -3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1);
    }

    .box-shadow-flat {
        box-shadow: 0 0 15px -3px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 0 15px -3px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 15px -3px rgba(0,0,0,0.1);
    }

    .input-default-style {
        @apply w-full bg-[var(--default-bg-color)] p-3 rounded-md outline-0
    }

    .select-wrapper-default-style {
        @apply w-full bg-[var(--default-bg-color)] p-3 rounded-md
    }
}